<div class="title-page">
  <p>World Travel</p>
</div>
  <div class="login-page">
    <h1>
      <img src="https://cdn.icon-icons.com/icons2/1898/PNG/512/planet_121108.png" alt="Image" height="150" width="150" id="imgp">
    </h1>
    <div class="form">
      <form class="register-form">
        <input type="text" placeholder="name"/>
        <input type="password" placeholder="password"/>
        <input type="text" placeholder="email address"/>
        <button>create</button>
        <p class="message">Already registered? <a href="#">Sign In</a></p>
      </form>
      <form class="login-form">
        <input type="text" placeholder="username"/>
        <input type="password" placeholder="password"/>
        <button>login</button>
        <p class="message">Não possui registro? <a href="#">Criar Conta</a></p>
      </form>
    </div>
  </div>